<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Student Scheduler</title>
<style>
	body{
  		font-family: Arial, sans-serif;
	}
	.form-popup{
	  display: none;
	  position: fixed;
	  bottom: 0;
	  right: 15px;
	  border: 3px solid #f1f1f1;
	  z-index: 9;
	}
</style>

</head>
<body>
	<h1>Student Scheduler</h1>
	
	<button class="open-button" onclick="openForm()">Add Meeting</button>

	<div class="form-popup" id="myForm">
	  <form action="action_page.php" class="form-container" method="post">
	    <h1>New Meeting</h1>
	
	    <label for="title"><b>Title</b></label>
	    <input type="text" placeholder="" name="title" required>
	
	    <label for="time"><b>Time</b></label>
	    <input type="datetime-local" class="form-control" name="datetime" ng-model="vm.basicInfo.validFrom"/>
		
		<label for="duration"><b>Duration</b></label>
	    <select name="duration">
		  <option>30 minutes</option>
		  <option>1 hour</option>
		  <option>2 hour</option>
		</select>
	    
	    <label for="location"><b>Location</b></label>
	    <input type="text" placeholder="" name="location" required>
	    
  		<label for="reminder"> I would like a reminder about this meeting</label>
  		<input type="checkbox" id="reminder" name="reminder">
	
	    <button type="submit" class="btn" onclick="window.location.href='http://localhost:8080/meeting';">Add Meeting</button>
	    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
	  </form>
	</div>
	<div id="meetings"></div>
	
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
		function openForm() {
		  document.getElementById("myForm").style.display = "block";
		}
	
		function closeForm() {
		  document.getElementById("myForm").style.display = "none";
		}
		
		$(document).ready(function() {
			$.ajax({
				url: "/meetings",
				type: "GET",
				dataType: "json",
				success: function(data) {
					console.log(data);
					$.each(data, function(index, value) {
						$("#meetings").append("<p>" + value.title + "</p>");
					});
				},
				error: function(jqXHR, textStatus, errorThrown) {
					console.log(textStatus, errorThrown);
				}
			});
		});
	</script>
</body>
</html>